.edit {
  width: 100%;
}

.delete {
  width: 80%;
}

.mytable {
  /* border: 2px solid red; */
  border-radius: 8px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.tab {
  margin-top: 2%;
}
